<h1><%= @character["name"] %>#show</h1>

<h2> Raw Data </h2>

<pre> <%= JSON.pretty_generate(@Character)%> </pre>

<p> (Later we'll replace this with a nuce layout + moves.) </p>
<p>Find me in app/views/characters/show.html.erb</p>
