body{
    background-image: url("https://images8.alphacoders.com/858/858984.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
}